.digilogbook {
    position: absolute;
    z-index: 10;
    width: 80%;
    /* Add other styles as needed */
    /* background-color: beige; */
}

.feather {
    position: absolute;
    width: 75%;
    margin-top: -5px;
    /* Add other styles as needed */
    animation: rotateFeather 4s infinite ease-in-out;
    transform-origin: 49.9% 52.5%;
    /* background-color: aqua; */
}

@media (min-width: 760px) {
    .digilogbook {
        width: 20%;
    }

    .feather {
        width: 15%;
    }
}
@keyframes rotateFeather {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(720deg);
    }
    75% {
        transform: rotate(720deg);
    }
    100% {
        transform: rotate(720deg);
    }
}