
/* changing ownership input  */
.input1 {
    background: rgba(24, 26, 45, 1);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
}

/* for add new vehicle component */
.inputDropdown {
    background: linear-gradient(0deg, #181A2D, #181A2D), linear-gradient(215.85deg, rgba(238, 238, 238, 0.46) -45.31%, rgba(238, 238, 238, 0) 168.95%);
    border: 2px solid rgba(238, 238, 238, 0.46);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
    appearance: none;
    padding: 0 1.8rem 0 0;
    border-radius: 0.75rem;
}

.inputDropdown option {
    background-color: #181A2D;
}

/* for add new vehicle component  */
.inputText2 {
    background: linear-gradient(0deg, #181A2D, #181A2D), linear-gradient(215.85deg, rgba(238, 238, 238, 0.46) -45.31%, rgba(238, 238, 238, 0) 168.95%);
    border: 2px solid rgba(238, 238, 238, 0.46);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
    appearance: none;
    padding: 0 1.8rem 0 0;
    border-radius: 0.75rem;
}

.inputText2::placeholder {
    color: #fff;
}

/* upload file input */