
/* changing ownership input  */
.input1 {
    background: rgba(24, 26, 45, 1);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
}

/* for add new vehicle component */
.inputDropdown {
    background: linear-gradient(0deg, #181A2D, #181A2D), linear-gradient(215.85deg, rgba(238, 238, 238, 0.46) -45.31%, rgba(238, 238, 238, 0) 168.95%);
    border: 1px solid var(--input-border);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
    appearance: none;
    padding: 0 2.2rem 0 0;
    border-radius: 0.75rem;
}

.inputDropdown option {
    background-color: #181A2D;
}

/* for add new vehicle component  */
.inputText2 {
    background: linear-gradient(0deg, #181A2D, #181A2D), linear-gradient(215.85deg, rgba(238, 238, 238, 0.46) -45.31%, rgba(238, 238, 238, 0) 168.95%);
    border: 1px solid var(--input-border);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
    appearance: none;
    border-radius: 0.75rem;
}

.inputText2::placeholder {
    color: #fff;
}

.inputFilledBorder {
    border: 1px solid #7d906b;
}

/* fixed Input */
.fixedInput {
    background: linear-gradient(0deg, #181A2D, #181A2D), linear-gradient(215.85deg, rgba(238, 238, 238, 0.46) -45.31%, rgba(238, 238, 238, 0) 168.95%);
    border: 1px solid var(--input-border);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
    appearance: none;
    padding: 0 2rem 0 0;
    border-radius: 1rem;
}

.fixedInput::placeholder {
    color: var(--disabled-button-text);
}

/* password Input */
.passwordInput {
    background: linear-gradient(0deg, #181A2D, #181A2D), linear-gradient(215.85deg, rgba(238, 238, 238, 0.46) -45.31%, rgba(238, 238, 238, 0) 168.95%);
    border: 1px solid var(--input-border);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
    appearance: none;
    padding: 0 2rem 0 0;
}

.passwordInput::placeholder {
    color: #fff;
}

/* upload file input */

.customFileUpload input[type="file"] {
    display: none;
}



.customFileUpload {
    width: 100%;
    height: 48px;
    background: var(--class-details-bg);
    box-shadow: var(--class-details-boxShadow);
    /* background: linear-gradient(200.38deg, #181A2D -7.59%, rgba(135, 141, 203, 0) 323.12%);
    box-shadow: 1px -1px 2.59px 0px #EBE0E082; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem 0 0;
    border-radius: 0.75rem;
}

.customFileUpload p {
    background: linear-gradient(105.63deg, #181A2D 28.16%, rgba(137, 137, 142, 0) 424.09%);
    box-shadow: 2px 2px 7.800000190734863px 2px #D3CBCB40 inset;
    height: 100%;
    width: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:   0.75rem 0 0 0.75rem ;
}


/* date input */
.dateContainer {
    background: linear-gradient(0deg, #181A2D, #181A2D), linear-gradient(215.85deg, rgba(238, 238, 238, 0.46) -45.31%, rgba(238, 238, 238, 0) 168.95%);
    border: 1px solid var(--input-border);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
    border-radius: 0.75rem;
    position: relative;
    display: flex;
}

.customDateInput {
    background: linear-gradient(0deg, #181A2D, #181A2D), linear-gradient(215.85deg, rgba(238, 238, 238, 0.46) -45.31%, rgba(238, 238, 238, 0) 168.95%);
    width: 100%;
    border-radius: 0.75rem;
    padding: 0 0.5rem;
    color: #fff;
}


/* search input */
.searchContainer {
    display: flex;
}

.searchInput {
    background: #181A2D;
}

.searchedBaseOnButton {
    background: linear-gradient(105.63deg, #181A2D 28.16%, rgba(137, 137, 142, 0) 424.09%);
    box-shadow: 2px 2px 7.800000190734863px 2px rgba(211, 203, 203, 0.25) inset;
}