.container h1 {
    font-size: 16px;
    justify-self: center;
    align-self: center;
    color: var(--yellow-text);
    font-weight: 700;
}

.container h2 {
    font-size: 14px;
    justify-self: start;
    align-self: start;
    text-align: start;
    color: var(--yellow-text);
    font-weight: 700;
}

.container p {
    font-size: 12px;
    justify-self: start;
    align-self: start;
    text-align: start;
    font-weight: 400;
}

.container ul {
    font-size: 12px;
    text-align: start;
    align-self: start;
}

.container li {
    text-align: start;
}
