.container h1 {
    font-size: 16px;
    justify-self: center;
    align-self: center;
    color: var(--text-accent);
    font-weight: 700;
}

.container h2 {
    font-size: 14px;
    justify-self: start;
    align-self: start;
    text-align: start;
    color: var(--text-accent);
    font-weight: 700;
}

.container p {
    font-size: 12px;
    justify-self: start;
    align-self: start;
    text-align: start;
    font-weight: 400;
}

.container ol {
    font-size: 12px;
    text-align: start;
    align-self: start;
    list-style-type: decimal;  
}

.container li {
    text-align: start;
    padding: 0.3rem 0;
    margin-right:3vw;
}



@media (min-width: 760px) {

    .container ol {
        font-size: 14px;
        margin-right: 0vw;
    }

}
