.containerDarkmode {
    width: 90%;
    min-height: 4rem;
    border-radius: 20px;
    background: linear-gradient(195.31deg, #353A65 -84.63%, rgba(42, 46, 81, 0) 100.99%);
    box-shadow: -3px 4px 5.800000190734863px 5px #00000045, 3px -4px 4px 0px #B3AAAA2E;
}
