
/* profile user data and parachute stylings  */
.containerDarkmode {
    min-height: 3rem;
    background: var(--bg-card);
    box-shadow: var(--shadow-all);
}

.containerChangeOwnership {
    min-height: 3rem;
    border-radius: 20px;
    background: linear-gradient(26.79deg, #353A65 -8.03%, rgba(42, 46, 81, 0) 111.88%),#131423;
    box-shadow: -3px 4px 5.800000190734863px 5px #00000045, 3px -4px 4px 0px #B3AAAA2E;

}


/* education syllubus box styling */
.Container2 {
    background: linear-gradient(0deg, #181A2D, #181A2D), linear-gradient(215.85deg, rgba(238, 238, 238, 0.46) -45.31%, rgba(238, 238, 238, 0) 168.95%);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
    border-radius: 1rem;
    position: relative;
    display: flex;
}

.Container2:active {
    background: linear-gradient(21.47deg, #A5E65E 14.52%, rgba(173, 203, 139, 0) 245.02%);
    box-shadow: -2px 3px 4.300000190734863px 1px #0000007a, 1px -1px 2.5999999046325684px 0px rgba(235, 224, 224, 0.51),0px 4px 10.800000190734863px 2px rgba(70, 174, 45, 1) inset;
}


/* basic data box such as class number used in addClass */
.basicDataBoxColor {
    background-color: var(--Basic-dataBox-bg);
    border: 1px solid  var(--Basic-dataBox-border) ;
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
}

/* class details forms */
.classDetails {
    background: var(--class-details-bg);
    box-shadow: 1px -1px 2.6px 0px rgba(235, 224, 224, 0.31);
    min-height: 5rem;
}

.classDetailsData {
    background-color: var(--Basic-dataBox-bg);  
    border: 1px solid rgba(165, 230, 94, 0.26);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
}