
/* profile user data and parachute stylings  */
.containerDarkmode {
    min-height: 3rem;
    background: var(--bg-output-default);
    box-shadow: var(--shadow-all);
}

.containerChangeOwnership {
    min-height: 3rem;
    border-radius: 34px;
    background: var(--bg-card);
    box-shadow: var(--shadow-all);
}


/* education syllubus box styling */
.Container2 {
    background: none;
    box-shadow: none;
    border-radius: 1rem;
    position: relative;
    display: flex;
}



/* basic data box such as class number used in addClass */
.basicDataBoxColor {
    background-color: var(--Basic-dataBox-bg);
    border: 1px solid  var(--Basic-dataBox-border) ;
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
}

/* class details forms */
.classDetails {
    background: var(--bg-output-default);
    box-shadow: var(--shadow-all);
    min-height: 5rem;
}

.classDetailsData {
    background-color: var(--bg-output-selected-option);  
    box-shadow: var(--shadow-all);
    border-radius: 16px;
}