.container {
    background: var(--bg-output-default);
    box-shadow: var(--shadow-all);
}

/* for lower buttons (gym, equipment, teach) in profile section */
.container2 {
    background: var(--bg-button-profile-default);
    box-shadow: var(--shadow-button-dark),var(--shadow-button-white);
    color: var(--text-button-profile-default)
}

.container2Disabled {
    background: var(--bg-button-profile-disabled);
    color: var(--text-button-profile-Disable);
}



/* transparent with yello border buttons */
.BorderYellow {
    border: 1px solid var(--yellow-border-button);
    color: var(--yellow-border-button);
    /* box-shadow: 1px -1px 2.5999999046325684px 0px rgba(235, 224, 224, 0.51); */
}

/* classes styles */
.classContainer {
    background: linear-gradient(200.38deg, #181A2D -7.59%, rgba(135, 141, 203, 0) 323.12%);
    box-shadow: -3px 4px 4.099999904632568px 2px rgba(0, 0, 0, 0.25);
}
.clipboardButtonBackgroundGradient {
    background: var(--bg-button-profile-default);
    box-shadow: var(--shadow-all);
}