.container {
    background: linear-gradient(23.73deg, #1B253B 21.99%, rgba(85, 113, 174, 0) 265.99%);
    box-shadow: -2px 3px 4.300000190734863px 1px rgba(0, 0, 0, 0.48), 1px -1px 2.5999999046325684px 0px rgba(235, 224, 224, 0.51), 0px 4px 10.800000190734863px 2px rgba(49, 61, 88, 1) inset;
}

/* for lower buttons (gym, equipment, teach) in profile section */
.container2 {
    background: var(--profile-buttons-background);
    box-shadow: var(--profile-buttons-boxShadow);
}

.container2Disabled {
    background: var(--disabled-button-bg);
    color: var(--disabled-button-text)
}



/* transparent with yello border buttons */
.BorderYellow {
    border: 1px solid var(--yellow-border-button);
    color: var(--yellow-border-button);
    /* box-shadow: 1px -1px 2.5999999046325684px 0px rgba(235, 224, 224, 0.51); */
}

/* classes styles */
.classContainer {
    background: linear-gradient(200.38deg, #181A2D -7.59%, rgba(135, 141, 203, 0) 323.12%);
    box-shadow: -3px 4px 4.099999904632568px 2px rgba(0, 0, 0, 0.25);
}
.clipboardButtonBackgroundGradient {
    background: linear-gradient(105.63deg, #181A2D 28.16%, rgba(137, 137, 142, 0) 424.09%);
    box-shadow: 2px 2px 7.800000190734863px 2px rgba(211, 203, 203, 0.25) inset;
}