.container {
    background: linear-gradient(195.31deg, #353A65 34.63%, rgba(42, 46, 81, 0) 100.99%);
    box-shadow: -3px 4px 5.800000190734863px 5px #00000045, 3px -4px 4px 0px #B3AAAA2E;
}

.container2 {
    background: linear-gradient(75.59deg, #111221 -4.46%, #2E3048 105.44%),
                linear-gradient(214.83deg, rgba(248, 248, 248, 0.46) -14.24%, rgba(17, 24, 39, 0) 70.57%);
    box-shadow: -2px 3px 4.300000190734863px 1px #0000007A;
}