.ThreeStickedButtonCont {
  min-width: 90%;
  height: 2.5rem; 
  border-radius: 1rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:  var(--bg-tab-default); 
  z-index:50;
}

.ThreeStickedButtonButton {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100%;
  background:  var(--bg-tab-default);
  box-shadow: var(--shadow-button-dark),var(--shadow-button-white);
}

.ThreeStickedButtonButtonDisable {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100%;
  background:  var(--bg-tab-default);
  box-shadow: var(--shadow-button-dark),var(--shadow-button-white);
}

@media (min-width: 720px) {

  ThreeStickedButtonCont {
    height: 3rem;
  }

}

@media (min-width: 720px) {

  .ThreeStickedButtonButton:hover {
    background: var(--bg-tab-hover);
    box-shadow: var(--shadow-button-dark),var(--shadow-button-white);
    backdrop-filter: blur(2px);
  }
  
}

.ThreeStickedButtonButton:active {
  background: var(--bg-tab-active);
}


.normalButton {
  min-width: 110px;
  min-height: 48px;
  background:  var(--bg-button-secondary-default);
  box-shadow: var(--shadow-button-dark),var(--shadow-button-white);
  border-radius: 2rem;
}

.normalButtonDisable {
  min-width: 110px;
  min-height: 48px;
  background:  var(--bg-button-secondary-disabled);
  color:  var(--text-disabled);
  border-radius: 2rem;
}

.normalButton:hover{
  background: var(--bg-button-secondary-hover);
  box-shadow: var(--shadow-button-dark),var(--shadow-button-white);
  color: var(--text-button-main-default); 
}

.activeYellow {
  background: var(--bg-tab-active);
  box-shadow: var(--shadow-button-dark),var(--shadow-button-white);
  color: var(--text-button-main-default); 
}

.addButton {
  background: var(--bg-button-main-default);
  box-shadow: var(--shadow-button-dark);
  color:var(--text-button-main-default);
  display: flex; 
  min-height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.addButton:hover {
  background: var(--bg-button-main-hover);
  box-shadow: var(--shadow-all);
}

.addButton:active {
  background: var(--bg-button-main-active);
  box-shadow: var(--shadow-all);
}

.profileButton {
  box-shadow: var(--shadow-button-dark),var(--shadow-button-white);
}


/* toggle dark mode */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width:4em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background:var(--button-toggle-bg);
  box-shadow: var(--button-toggle-boxshadow);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  margin-top: 1px;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8em;
  width: 1.8em;
  inset: 0;
  background-color: var(--yellow-border-button);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input{
  margin-top: 1rem;
}

.switch input:checked + .slider {
  background: var(--soft-white);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(-2.1em);
}