.ThreeStickedButtonCont {
  width: 90%;
  height: 2.5rem; 
  border-radius: 1rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:  var(--bg-color);
}

.ThreeStickedButtonButton {
  font-size: 14px;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    background:  var(--profile-buttons-background);
    box-shadow: var(--profile-buttons-boxShadow);
}

.ThreeStickedButtonButton:hover {
  background: var(--yellow-button-bg);
  box-shadow: 0px 4px 10.8px 2px #46AE2D inset, 1px -1px 2.6px 0px rgba(235, 224, 224, 0.51), -2px 3px 4.3px 1px rgba(0, 0, 0, 0.48);
  backdrop-filter: blur(2px);
}

.ThreeStickedButtonButton:active {
  background: var(--yellow-button-bg);
  box-shadow: 0px 4px 10.8px 2px #46AE2D inset, 1px -1px 2.6px 0px rgba(235, 224, 224, 0.51), -2px 3px 4.3px 1px rgba(0, 0, 0, 0.48);
  backdrop-filter: blur(2px);
}


.normalButton {
  min-width: 110px;
  min-height: 44px;
  background:  var(--profile-buttons-background),var(--bg-color);
  box-shadow: var(--profile-buttons-boxShadow);
  border-radius: 2rem;
}

.normalButton:hover{
  background: var(--yellow-button-bg);
  box-shadow: var(--yellow-button-boxShadow);
  color: rgba(33, 40, 41, 1); 
}

.activeYellow {
  background: var(--yellow-button-bg);
  box-shadow: var(--yellow-button-boxShadow);
  color: rgba(33, 40, 41, 1); 
  font-weight: 500;
}

.addButton {
  background: var(--yellow-button-bg),var(--bg-color);
  box-shadow: -2px 3px 4.3px 1px rgba(0, 0, 0, 0.48), 1px -1px 2.59px 0px rgba(235, 224, 224, 0.51),0px 4px 10.80px 2px rgba(70, 174, 45, 1) inset;
  font-weight:bold ;
  display: flex; 
  min-height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  color:rgba(33, 40, 41, 1) ;
}

.addButton:hover {
  background: var(--profile-buttons-background);
  box-shadow: var(--profile-buttons-boxShadow);
  color: var(--soft-white);
  font-weight: 400;
}

.addButton:active {
  background: var(--profile-buttons-background);
  box-shadow: var(--profile-buttons-boxShadow);
  color: var(--soft-white);
  font-weight: 400;
}


/* toggle dark mode */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width:4em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background:var(--button-toggle-bg);
  box-shadow: var(--button-toggle-boxshadow);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  margin-top: 1px;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8em;
  width: 1.8em;
  inset: 0;
  background-color: var(--yellow-border-button);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input{
  margin-top: 1rem;
}

.switch input:checked + .slider {
  background: var(--soft-white);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(-2.1em);
}