@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'iransans', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=number] {
  -moz-appearance:textfield;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


:root {

  /* overall */
  --theme-mode :'light';
  --bg-page-main: #e0e1e3;
  --text-accent:#23BC7C;
  --text-default:#3E3E3E;
  --text-default-opposite:#EEEEEE;
  --text-disabled:#767779;
  --text-error:#DC3545;
  --text-warning:#FF9900;

  /* main button */
  --bg-button-main-default:#23BC7C;
  --bg-button-main-hover:#20A970;
  --bg-button-main-active:#1C9663;
  --text-button-main-default:#EEE;
  --text-button-main-disabled:#E5E5E5;

  /* second button */
  --bg-button-secondary-default:#F9F9FA;
  --bg-button-secondary-hover:#F6F6F7;
  --bg-button-secondary-active:#EDEDEE;
  --bg-button-secondary-disabled:#CACACA;

  /* button profile */
  --bg-button-profile-default:#EBEBEC;
  --bg-button-profile-hover:#E0E1E3;
  --bg-button-profile-active:#BFC2C4;
  --bg-button-profile-disabled:#CACACA;
  --text-button-profile-default:#23BC7C;
  --text-button-profile-Disable:#CACACA;
  --text-button-profile-active:#3E3E3E;

  /* input */
  --bg-input-dropdown:#F6F6F7;  
  --bg-input-selected-option:#262B31;
  --bg-upload-file:#BFC2C4;
  --border-input-success: #23BC7C;
  --border-input-error: #DC3545;
  --border-input-default: #535353;
  --border-input-selected: #eee;
  --text-input-default:#B1B2B5;
  --text-input-selected:#3E3E3E;
  --text-input-error:#DC3545;
  --text-input-success:#23BC7C;
  --text-upload-file:#EEEEEE;
  
  /* outputs */
  --bg-output-default:#EBEBEC;  
  --bg-output-selected-option:#EBEBEC;
  --border-output: #BFC2C4;

  /* pop ups */
  --bg-pop-up-default:#EBEBEC;
  --bg-pop-up-header-footer:#E0E1E3;

  /* cards */
  --bg-card:#EBEBEC;

  /* menu(navbar,footer) */
  --bg-menu:#E0E1E3;

  /* tabs */
  --bg-tab-active:#23BC7C;
  --bg-tab-hover:#20A970;
  --bg-tab-default:#EBEBEC;

  /* Headers */
  --bg-header:#EBEBEC;

  /* check box */
  --border-checkbox:#23BC7C;

  /* divider */
  --bg-divider-active:#23BC7C;
  --bg-divider-default:#3E3E3E;

  /* icons */
  --icon-active:#23BC7C;
  --icon-default:#3E3E3E;
  --icon-disable:#CACACA;

  --shadow-all: -0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
  --shadow-button-white: 1px -1px 2.6px 0px rgba(235, 224, 224, 0.51);
  --shadow-button-dark: -2px 3px 4.3px 1px rgba(0, 0, 0, 0.48);
  
}


[data-theme='dark'] {


  /* overall */
  --theme-mode :'dark';
  --bg-page-main: #1E2227;
  --text-accent:#23BC7C;
  --text-default:#EEEEEE;
  --text-default-opposite:#3E3E3E;
  --text-disabled:#767779;
  --text-error:#DC3545;

  /* main button */
  --bg-button-main-default:#23BC7C;
  --bg-button-main-hover:#20A970;
  --bg-button-main-active:#1C9663;
  --text-button-main-default:#EEE;
  --text-button-main-disabled:#535353;

  /* second button */
  --bg-button-secondary-default:#323941;
  --bg-button-secondary-hover:#2D333B;
  --bg-button-secondary-active:#282E34;
  --bg-button-secondary-disabled:#323232;

  /* button profile */
  --bg-button-profile-default:#323941;
  --bg-button-profile-hover:#2D333B;
  --bg-button-profile-active:#2D333B;
  --bg-button-profile-disabled:#323232;
  --text-button-profile-default:#23BC7C;
  --text-button-profile-Disable:#535353;
  --text-button-profile-active:#eee;

  /* input */
  --bg-input-dropdown:#323941;  
  --bg-input-selected-option:#262B31;
  --bg-upload-file:#161a1d;
  --border-input-success: #23BC7C;
  --border-input-error: #DC3545;
  --border-input-default: #535353;
  --border-input-selected: #eee;
  --text-input-default:#767779;
  --text-input-selected:#EEEEEE;
  --text-input-error:#DC3545;
  --text-input-success:#23BC7C;
  --text-upload-file:#EEEEEE;

  /* outputs */
  --bg-output-default:#262B31;  
  --bg-output-selected-option:#2D333B;
  --border-output: #EEEEEE;

  /* pop ups */
  --bg-pop-up-default:#323941;
  --bg-pop-up-header-footer:#2D333B;

  /* cards */
  --bg-card:#282E34;

  /* menu(navbar,footer) */
  --bg-menu:#1E2227;

  /* tabs */
  --bg-tab-active:#23BC7C;
  --bg-tab-hover:#20A970;
  --bg-tab-default:#2D333B;

  /* Headers */
  --bg-header:#282E34;

  /* check box */
  --border-checkbox:#23BC7C;

  /* divider */
  --bg-divider-active:#23BC7C;
  --bg-divider-default:#EEEEEE;

  /* icons */
  --icon-active:#23BC7C;
  --icon-default:#EEEEEE;
  --icon-disable:#535353;


}


/* fonts imported here */
/* @font-face {
  font-family: 'iransans';
  src: url('./assets/Fonts/IRANSANSWEB(FANUM).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: 'iransans';
  src: url('./assets/Fonts/IRANSANSWEB(FANUM)_BOLD.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} */

@font-face {
  font-family: 'iransans';
  src: url('./assets/Fonts/IRANSANSWEB(FANUM).ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'iransans';
  src: url('./assets/Fonts/IRANSANSWEB(FANUM)_BOLD.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}