@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'iransans', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=number] {
  -moz-appearance:textfield;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* choose hour face */
/* .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  direction: ltr;
}

.css-1g7nc1s-MuiPickersLayout-root {
  background-color: var(--primary-light);
  
} */

/* .css-1q48g88-MuiPickersToolbar-root-MuiTimePickerToolbar-root {
  background-color: var(--corn-flower-blue);
}

.css-ku1d3k-MuiTimeClock-root {
  background-color: var(--corn-flower-blue);
}

.css-knqc4i-MuiDialogActions-root {
  background-color: var(--corn-flower-blue);
} */


:root {
  /* Defined global colors using CSS custom properties */
  --accent-normal: #A5E65E; /* Green-light */
  --accent-darker: #212829; /* Green-dark */
  --bg-dark: #181A2D; 
  --bg-dark-active: var(--bg-color); 
  --neutral-light:#EEEEEE; /* Neutral color */
  --neutral-light-active:#CACACA; /* Neutral color */
  --neutral-normal:#535353; /* Neutral color */
  --warning-normal:#ED553B; /* warning color */

  
   
   /* example to use:
    background: linear-gradient(var(--gradient-direction), var(--gradient-start), var(--gradient-end)); */
}


/* fonts imported here */
@font-face {
  font-family: 'iransans';
  src: url('./assets/Fonts/IRANSansX-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iransans';
  src: url('./assets/Fonts/IRANSansX-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'iransans';
  src: url('./assets/Fonts/IRANSansX-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'iransans';
  src: url('./assets/Fonts/IRANSansX-DemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

